.wrapper 
{
    text-align: center;
    background-color: #FFF8DC;
}
h1 
{
    text-align: center;
    font-size: 40px;
    color: #A52A2A;
}
h2 
{
    text-align: center;
    font-size: 25px;
    color: #A52A2A;
}
header 
{
    text-align: center;
    letter-spacing: 3px;
    background: #BC8F8F;
    color: #800000;
    border-bottom: 8px  outset #FFE4E1;
    
}
.smt 
{
    margin: auto;
    text-align: left;
    max-width: 960px;
}
.logo 
{
    width: 100px;
    float: left;
    margin-bottom: 0px;
    text-align: left;
    border-radius: 10% 5%;
}
.content 
{
    max-width: 100%;
    text-align: center;
    margin: auto;
    font-size: 100%;
    display: flex;
    flex-flow: nowrap column;
}
.menu 
{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin: auto;
    text-align: justify;
    background-color: #FFF8DC;
    max-width: 100%;
}
.linkedlist 
{
    text-align: left;
    background-color: #FFE4C4;
    border: 8px dotted #A52A2A;
    margin: auto;
    display: flex;
    flex-direction: column;
}
 .linkedlist a 
{
        font-size: 20px;
}
img 
{
    max-width:60%;
    height: auto;
}
.tabletask 
{
    order: 1
}

.tabletask 
{
    margin: auto;
    background-color: #FFE4C4;
    text-align: center;
    border: 8px double #A52A2A;
    display: flex;
    flex-direction: column;
}
.tabletask th 
{
        font-weight: 400;
        font-size: 8px;
        color: #800000;
        padding: 5px 5px;
    }
.tabletask td 
{
        font-weight: 400;
        font-size: 8px;
        color: #800000;
        padding: 5px 5px;
    }
.tabletask caption 
{
        font-size: 20px;
        text-decoration-color: #FFEBCD;
        color: #A52A2A;
}

.tabletask tr:nth-child(even) 
{
background:#BC8F8F;
}

form 
{
    border: 8px solid #B22222;
    background-color: #FFE4C4;
    display: flex;
    flex-direction: column;
}

footer 
{
    font-size: 30px;
    background-color:#BC8F8F;
    color: #800000;
}
@media (min-width: 960px)
{
h1
{
    text-align:center;
    front-size:50px;
}
h2
{
    text-align:center;
    front-size:40px;
}
.logo
{
    width: 120px;
    float:left;
    margin-bottom: 0px;
    text-align: left;
}
.content
{
    max-width: 960px;
}
.menu
{
    max-width: 960px;
    text-align: center;
    flex-direction: row;
}
.img
{
    max-width:960px;
}
.tabletask
{
    max-width: 700px;
    order: 0;
}
.tabletask th
{
   font-size: medium;
}
.tabletask td
{
   font-size: medium;
}

}